{{define "footer"}}
  <footer>
    _____________________________________________
    <p>
      Sample GO Project
    </p>
    <p>
      Contact information: <a href="mailto:boris.malaichik@gmail.com">Boris Malaichik</a>.
    </p>
  </footer>
{{end}}
