{{define "header"}}
  <header>
    <ul>
      <li><a href="/home">Home</a></li>
      {{if .ID}} <li><a href="/api/auth/logout">Logout</a></li>
      {{else}}<li><a href="/login">Login</a>{{end}}
    </ul>
  </header>
  _____________________________________________
{{end}}
