<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ .Title}}</title>
	</head>
	
	<body>
		{{template "header" .}}
		<h1>Hello, {{if .ID}} there {{else}}stranger{{end}}!</h1>
		<div>

			{{if .ID}} <a href="/user/{{.ID}}/view">View Personal Info</a>
			{{else}}To continue, proceed to <a href="/login">login page</a>{{end}}
		</div>

		{{template "footer" .}}
	</body>
</html>
<html>
