<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>{{ .Title}}</title>
</head>

<body>
	{{template "header" .}}
	<form method="post" action="/api/auth/login">
		<div class="box">
			<h1>Login</h1>

			<input type="email" name="email" value=""/>
			<input type="password" name="password" value=""/>

			<button type="submit">Sign in</button>

			OR <a href="/api/auth/google/login">Sign in with Google</a>
			<br>
			<a href="/signup">
				<div id="btn2">Sign Up</div>
			</a>
			<a href="/api/auth/google/login">
				<div id="btn2">Sign Up with Google</div>
			</a>

		</div>

	</form>

	<p>Forgot your password? <a href="/reset-password">Click Here!</a></p>
	{{template "footer" .}}
</body>

</html>
<html>
