<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>{{ .Title}}</title>
</head>

<body>
	{{template "header" .}}
	<form method="post" action="/api/auth/reset-password">
		<div class="box">
			<h1>Reset Password</h1>
			Your email: <input type="text" name="email" value=""/>

			<button type="submit">Submit</button>
		</div>

	</form>
	{{template "footer" .}}
</body>

</html>
<html>
