<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Signup</title>
</head>

<body>
	{{template "header" .}}
	<form method="post" action="/api/auth/signup">
		<div>
			<h1>Singup</h1>

			<input type="email" name="email" value=""/>
			<input type="password" name="password" value=""/>

			<button type="submit">Sign up</button>
			<br>
			OR
			<br>
			<a href="/api/auth/google/login">
				<div id="btn2">Sign Up with Google</div>
			</a>

		</div>

	</form>
	{{template "footer" .}}
</body>

</html>
<html>
