<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>User Info</title>
	</head>
	<body>
		{{template "header" .}}
		<form id="updateUserForm" method="post" action="/api/user/{{ .ID}}" method="POST">
			<div class="box">
				<h1>Edit profile</h1>
	
				<p>Email: <input type="email" name="email" value="{{ .Email}}"/></p>
				<p>FirstName: <input type="string" name="firstName" value="{{ .FirstName}}"/></p>
				<p>LastName:<input type="string" name="lastName" value="{{ .LastName}}"/></p>
				<p>Address: <input type="string" name="address" value="{{ .Address}}"/></p>
				<p>Phone: <input type="string" name="phone" value="{{ .Phone}}"/></p>
	
				<a href="#">
					<div class="btn"><button type="submit">Update</button></div>
				</a>
			</div>
		</form>
		{{template "footer" .}}
	</body>
</html>
<html>
