<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>User Info</title>
	</head>
	<title>Edit</title>
	
	<body>
		{{template "header" .}}
		<p><a href="/user/{{ .ID}}/edit">Edit Profile</a></p>
		<div>
            <p>ID: {{ .ID}}</p>
            <p>First Name: {{ .FirstName}}</p>
			<p>Last Name: {{ .LastName}}</p>
			<p>Email: {{ .Email}}</p>
			<p>Address: {{ .Address}}</p>
			<p>Phone: {{ .Phone}}</p>
		</div>
		{{template "footer" .}}
	</body>
</html>
<html>
